@CHARSET"ISO-8859-1";
@import url(fonts.googleapis.com/css?family=Lato:400, 700, 400italic, 700italic|PT+Serif:400, 700, 400italic, 700italic);
body {
  font-size: 14px;
  font-family: 'Lato', sans;
  background: #fffdf8 url('http://paizo.com/pathfinderRPG/prd/include/bg-new.png') top left no-repeat;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor:default;

}
p {
  font-family: 'Lato', sans;
  line-height: 1.4em;
  margin: 15px 0;
}
input {
  border-radius: 5px;
}
h1 {
  font: normal 32px 'PT Serif', serif;
  text-transform: uppercase;
}
h2 {
  font: normal 24px 'PT Serif', serif;
  text-transform: uppercase;
}
h3 {
  font: normal 16px 'PT Serif', serif;
}
div {
  vertical-align: top;
}
h1 + p, h2 + p, h3 + p {
  margin: 5px 0 10px 0;
}
hr {
  margin: 5px auto;
  border: 0;
  border-top: 1px solid #bbb;
}
input {
  cursor:text;
}
input[type=text], input[type=number], select, label {
  font-family: 'Lato', sans;
}
main {
  width: 100%;
  height: 780px;
  overflow: scroll;
}
footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 50px;
}
.footer {
  font-size: smaller;
  font-weight: normal;
  padding: 0;
  margin: 0;
  width: 800px;
}
sup {
  line-height: 0;
}
label {
  font-weight: bold;
  width: 200px;
  bottom: 100%;
  left: 0;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}
input[type=number]:disabled::-webkit-inner-spin-button, input[type=number]:disabled::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
section {
  clear: left;
  margin: 10px;
}
::-webkit-scrollbar {
  display: none;
}
input:disabled:not(.result) {
  outline: none;
  border: none;
  text-align: center;
  background: none;
  width: 35px;
  border-bottom: 1px solid black;
}
.tab {
    width:100%;
}
input[type=text]:not(.result) {
  outline: none;
  border: none;
  background: none;
  border-bottom: 1px solid black;
}
input[type=text], input[type=number] {
  width: 40px;
  text-align: center;
}
.calculation * {
  display: inline-table;
  text-align: center;
}
.calculation label {
  display: block;
  text-transform: uppercase;
  font-size: 8px;
  width: auto;
  text-align: top;
  top: 100%;
  max-width: 44px;
}
.skill * {
  display: inline-table;
  text-align: initial;
}
.skill p {
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  width: 151px;
}
.header label, .personal label {
  border-radius: 0;
  width: auto;
}
.header input, .personal input, .personal input:disabled {
  text-align: left;
  border-radius: 0;
  width: 200px;
}
div.highlight {
  background-color: #99FF99;
}
div.selected {
  background-color: #00CC66;
}

.class-levels {
    font-family: 'Lato', sans;
    float:left;
    width:150px;
}
.class {
    width:100%;
}
.right {
    padding-left: 5px;
    float:right;
}
.left {
    float:left;
}
.middle {
    vertical-align:middle;
}

.info {
    display:table;
    width:initial;
    float:initial;
}

.selectMenu {
    overflow: scroll;
    float:left;
    width:150px
}
