<header class="header" ng-controller="CharacterController as CharacterCtrl">
    <div style="float:left;">
        <label>Name: </label>
        <input type=text ng-model="character.name" placeholder="nameless">
    </div>
    <div style="float:left;">
        <label>Character Level: </label>
        <input type=text disabled value="{{character.level('Medium')}}">
    </div>
    <div style="float:left;">
        <label>Experience: </label>
        <input type=number ng-model="character.experience">
    </div>
    <div style="float:left;clear:left;">
        <label>Class/Level: </label>
        <input style="width:400px" type=text disabled value="{{ character.classes | displayClassAndLevels }}">
    </div>
</header>
<section class="btn-group" ng-init="tab=1">
    <button type="button" class="btn btn-default" ng-click="tab=1">Race</button>
    <button type="button" class="btn btn-default" ng-click="tab=2">Class</button>
    <button type="button" class="btn btn-default" ng-click="tab=3">Abilities</button>
    <button type="button" class="btn btn-default" ng-click="tab=4">Skills</button>
    <button type="button" class="btn btn-default" ng-click="tab=5">Feats</button>
    <button type="button" class="btn btn-default" ng-click="tab=6">Combat</button>
    <button type="button" class="btn btn-default" ng-click="tab=7">Equipment</button>
    <button type="button" class="btn btn-default" ng-click="tab=8">Personal Details</button>
    <button type="button" class="btn btn-default" ng-click="tab=9">Stat Block</button>
</section>
<main>
    <race-selector ng-hide="tab!=1"></race-selector>
    <class-selector ng-hide="tab!=2"></class-selector>
    <ability-scores ng-hide="tab!=3"></ability-scores>
    <skill-list ng-hide="tab!=4"></skill-list>
    <feat-list ng-hide="tab!=5"></feat-list>
    <combat-section ng-hide="tab!=6"></combat-section>
    <defence-section ng-hide="tab!=6"></defence-section>
    <personal-details ng-hide="tab!=8"></personal-details>
    <stat-block ng-hide="tab!=9"></stat-block>
</main>
<footer>
    <p class="footer">This character sheet uses trademarks and/or copyrights owned by Paizo Inc., which are used under Paizo's Community Use Policy. We are expressly prohibited from charging you to use or access this content. This character sheet is not published, endorsed,
        or specifically approved by Paizo Inc. For more information about Paizo's Community Use Policy, please visit <a href="paizo.com/communityuse">paizo.com/communityuse</a>. For more information about Paizo Inc. and Paizo products, please visit
        <a href="paizo.com">paizo.com</a>.</p>
</footer>
