<section>

  <aside style="float:left">
    <h2 style="float:left">Race</h2>
    <select style="float:left;clear:left;" id="race" size="43" ng-model="selectedRace" ng-change="character.setRace(selectedRace)" ng-options="race.name group by race.source for race in races">
      <option value="" selected disabled hidden>Select Race</option>
    </select>
  </aside>

  <div ng-repeat="trait in character.traits">
    <h3 ng-show="$first">Racial Traits</h3>
    <div class="glyphicon glyphicon-minus" ng-show="isAlternateTrait(trait)" ng-click="removeAlternateRacialTrait(trait)"></div>
    <strong>{{ trait.name }}:</strong> {{ trait.description }}
    <span ng-show="trait.default">
      <strong>Starting Languages:</strong> {{ trait.default | serialComma }}. </span>
    <span ng-show="trait.list">
      <strong>Language list:</strong> {{ trait.list | serialComma : 'or' }}. </span>
  </div>

  <div ng-repeat="trait in listAlternateRacialTraits() | filter: elligibleRacialTraits">
    <h3 ng-show="$first">Alternate Racial Traits</h3>
    <div>
      <div class="glyphicon glyphicon-plus" ng-click="addAlternateRacialTrait(trait)"></div>
      <strong>{{ trait.name }}:</strong>{{ trait.description }}</div>
    <div ng-show="trait.replaces">
      <strong>Replaces:</strong> {{trait.replaces | serialComma }}</div>
  </div>

</section>
