<aside class="personal">
    <h2>Personal Attributes</h2>
    <div>
        <label>Name:</label>
        <input type=text ng-model="character.name" placeholder="nameless">
    </div>
    <div>
        <label>Sex:</label>
        <select ng-model="character.gender">
            <option value="none" disabled hidden style="display: none">Select Sex</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
        </select>
    </div>
    <div>
        <label>Size:</label>
        <input type=text disabled value="{{ getCharacterSize() }}">
    </div>
    <div>
        <label>Hair:</label>
        <input type=text ng-model="character.hairColor">
    </div>
    <div>
        <label>Eyes:</label>
        <input type=text ng-model="character.eyeColor">
    </div>
    <div>
        <label>Skin:</label>
        <input type=text ng-model="character.Skin">
    </div>
    <div>
        <label>Alignment:</label>
        <select ng-model="character.alignment">
        </select>
    </div>
    <div>
        <label>Height:</label>
        <select ng-model="character.height">
        </select>
    </div>
    <div>
        <label>Weight:</label>
        <input type=text value=" {{ getCharacterWeight() }}">
    </div>
    <div>
        <label>Age:</label>
        <select ng-model="character.age" ng-options="age.age as age.age group by age.group for age in character.race.ageGroups">
            <option hidden disabled>Select Age</option>
            <input type=text disabled value="{{ getAgingEffect() }}">
        </select>
    </div>
    <div>
        <label>Walk Speed:</label>
        <input type=text value="{{ getMovementSpeed('baseSpeed') | movement }}" disabled>
    </div>
    <div>
        <label>Swim Speed:</label>
        <input type=text value="{{ getMovementSpeed('Swim') | movement}}" disabled>
    </div>
    <div>
        <label>Fly Speed:</label>
        <input type=text value="{{ getMovementSpeed('Fly') | movement}}" disabled>
    </div>
    <div>
        <label>Climb Speed:</label>
        <input type=text value="{{ getMovementSpeed('Climb') | movement}}" disabled>
    </div>
</aside>
