<section>
    <label>Base Attack Bonus</label>
    <div class="calculation combat">
        <div>
            <input style="width:auto" type=text class="result" disabled value="{{ getBaseAttackBonus() | BAB }}">
        </div>
        <div ng-repeat="aClass in character.classes">
            <div>
                <div ng-show="$first">=</div>
                <input type=text disabled value="{{ getClassBABBonus(aClass) | signedNumber }}">
                <label>{{ aClass.name }} Bonus</label>
            </div>
            <div ng-hide="$last">+</div>
        </div>
</section>
