<aside class="personal">
    <h2>Personal Attributes</h2>
    <div>
        <label>Name:</label>
        <input type=text ng-model="character.name" placeholder="nameless">
    </div>
    <div>
        <label>Sex:</label>
        <select ng-model="character.gender" ng-change="character.height=dimensions[character.gender][0]">
            <option value="" style="display:none" selected>Select Gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="male">Other</option>
        </select>
    </div>
    <div>
        <label>Size:</label>
        <input type=text disabled value="{{ getCharacterSize() }}">
    </div>
    <div>
        <label>Hair:</label>
        <input type=text ng-model="character.hairColor">
    </div>
    <div>
        <label>Eyes:</label>
        <input type=text ng-model="character.eyeColor">
    </div>
    <div>
        <label>Skin:</label>
        <input type=text ng-model="character.skinColor">
    </div>
    <div>
        <label>Alignment:</label>
        <select ng-model="character.alignment">
        </select>
    </div>
    <div>
        <label>Height:</label>
        <button ng-click="randomizeHeight()" class="glyphicon glyphicon-repeat"></button>
        <select ng-model="character.height" ng-options="height as (height | feet) for height in dimensions[character.gender]">
            <option value="" selected ng-if="false">Select Height</option>
        </select>
    </div>
    <div>
        <label>Weight:</label>
        <input type=text value=" {{ getCharacterWeight() | lbs }}">
    </div>
    <div>
        <label>Age:</label>
        <button ng-click="randomizeAge()" class="glyphicon glyphicon-repeat"></button>
        <select ng-model="character.age" ng-options="age.age as age.age group by age.group for age in ageGroups">
            <option value="" hidden disabled>Select Age</option>
            <input type=text disabled value="{{ getAgingEffect() }}">
        </select>
    </div>
    <div>
        <label>Walk Speed:</label>
        <input type=text value="{{ getMovementSpeed('baseSpeed') | movement }}" disabled>
    </div>
    <div>
        <label>Swim Speed:</label>
        <input type=text value="{{ getMovementSpeed('Swim') | movement}}" disabled>
    </div>
    <div>
        <label>Fly Speed:</label>
        <input type=text value="{{ getMovementSpeed('Fly') | movement}}" disabled>
    </div>
    <div>
        <label>Climb Speed:</label>
        <input type=text value="{{ getMovementSpeed('Climb') | movement}}" disabled>
    </div>
</aside>
