<section>
  <h2>Skills - {{getSkillsPointsSpent()}}/{{getMaxSkillsPoints()}}</h2>
  <div ng-repeat="skill in skills | orderBy:['name']">
    <div class="calculation skill" id="{{ skill.name }}">
      <div>
        <p>{{ skill.name }}
          <span class="glyphicon" ng-class="{'glyphicon-triangle-right' : !toggle, 'glyphicon-triangle-bottom' : toggle }" ng-click="toggle=!toggle" ng-show="skill.subCategory" ng-init="toggle=false"></span>:</p>
      </div>
      <div>
        <input type="checkbox" class="result" disabled ng-checked="isClassSkill(skill.name)">
      </div>
      <div>
        <input type="checkbox" class="result" disabled ng-checked="skill.trained">
      </div>
      <div>
        <input type="text" class="result" disabled value="{{ skillBonus(skill) | signedNumber }}">
        <label>Bonus</label>
      </div>
      <div>=</div>
      <div>
        <input type="text" disabled value="{{ character.abilities[skill.ability].modifier | signedNumber }}">
        <label>{{ skill.ability | limitTo:3 }} Mod</label>
      </div>
      <div ng-hide="skill.subCategory">+</div>
      <div ng-hide="skill.subCategory">
        <input type="number" min=0 max="{{ maxRanks(skill.name) }}" ng-model="character.skills[skill.name].ranks" ng-init="character.skills[skill.name].ranks = 0">
        <label>Ranks</label>
      </div>
      <div ng-show="skill.armorCheckPenalty">*</div>
    </div>
    <div class="sub-category" ng-repeat="subCat in skill.subCategory">
      <div class="calculation skill" ng-show="character.skills[subCatName(skill.name,subCat)].ranks || ( isClassSkill(skill.name, subCat) && !isClassSkill(skill.name)) || toggle">
      <div>
        <p>{{ skill.name }}<span> ({{ subCat }})</span>:</p>
      </div>
      <div>
        <input type="checkbox" class="result" disabled ng-checked="isClassSkill(skill.name, subCat)">
      </div>
      <div>
        <input type="checkbox" class="result" disabled ng-checked="skill.trained">
      </div>
      <div>
          <input type="text" class="result" disabled value="{{ skillBonus(skill, subCat) | signedNumber }}">
        <label>Bonus</label>
      </div>
      <div>=</div>
      <div>
        <input type="text" disabled value="{{ character.abilities[skill.ability].modifier | signedNumber }}">
        <label>{{ skill.ability | limitTo:3 }} Mod</label>
      </div>
      <div>+</div>
      <div>
        <input type="number" min="0" max="{{ maxRanks(subCatName(skill,subCat)) }}" ng-model="character.skills[subCatName(skill,subCat)].ranks" ng-init="character.skills[subCatName(skill,subCat)].ranks = character.skills[subCatName(skill,subCat)].ranks || 0">
        <label>Ranks</label>
      </div>
      <div ng-show="skill.armorCheckPenalty">*</div>
    </div>
  </div>
  </div>
</section>
